@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pfsquaresanspro-bold.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pfsquaresanspro-bolditalic.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pfsquaresanspro-italic.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/pfsquaresanspro-light.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/pfsquaresanspro-lightitalic.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/pfsquaresanspro-meditalic.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/pfsquaresanspro-medium.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pfsquaresanspro-regular.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/pfsquaresanspro-thin.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/pfsquaresanspro-thinitalic.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/pfsquaresanspro-xblack.ttf") format("truetype"); }
@font-face {
  font-family: "PFSans";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/pfsquaresanspro-xblackital.ttf") format("truetype"); }
html {
  height: 100%; }

body {
  height: 100%;
  background: #f0f0f0;
  font-family: 'PFSans', sans-serif;
  line-height: 1.2; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #6ba05b; }

.btn {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 180px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer; }
  .btn_green {
    background-color: #7ea172; }
    .btn_green:hover {
      background-color: #65865a; }
  .btn_blue {
    background-color: #729ca1; }
    .btn_blue:hover {
      background-color: #5a8286; }

.dl-horizontal, .seed-card dl {
  margin: 0; }
  .dl-horizontal dt, .seed-card dl dt {
    float: left;
    clear: left; }
  .dl-horizontal dd, .seed-card dl dd {
    margin: 0; }
    .dl-horizontal dd:after, .seed-card dl dd:after {
      content: "";
      display: table;
      clear: both; }

.text-center {
  text-align: center; }

.main {
  padding: 40px 0;
  border-bottom: 2px solid #e2e2e0; }
  .main h1 {
    margin: 10px 0;
    font-size: 40px;
    color: #3c4136; }

h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  color: #3c4136; }

.nav {
  padding: 15px 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.6); }
  .nav__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: justify; }
    .nav__list:after {
      display: inline-block;
      width: 100%;
      content: ''; }
  .nav__item {
    display: inline-block; }
    .nav__item img,
    .nav__item .filesize {
      display: none; }
  .nav__link {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #3c4136; }
    .nav__link:hover,
    .nav__link *.is-active {
      color: #7c9f70; }

.baner {
  height: 900px;
  padding-bottom: 80px;
  background: url(../img/tree.png) no-repeat left top, linear-gradient(to top left, #9ed9bb, #ecf3c9); }

.address {
  padding-top: 75px;
  color: #3c4136;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px; }
  .address a {
    color: #7ea172; }
  .address p {
    margin: 0; }
  @media screen and (max-width: 1024px) {
     .address {
       padding-left: 50px; }
  }
.phone {
  padding-top: 75px;
  text-align: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px; }
  .phone a {
    display: block;
    text-decoration: none;
    color: #3c4136; }

.logo {
  padding-top: 120px;
  text-align: center; }
  .logo__link {
    display: inline-block;
    width: 220px;
    height: 210px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: contain; }

.header .logo {
  padding-top: 35px; }
  .header .logo__link {
    width: 170px;
    height: 160px; }

.title {
  padding-top: 160px;
  text-align: center; }
  .title h1 {
    margin: 0;
    margin-bottom: 30px;
    font: italic 30px/1.2 "Cambria", serif;
    color: #628556; }

.seeds {
  background: #f0f0f0 url(../img/tree2.png) no-repeat right top; }

.seed-card {
  height: 400px;
  position: relative;
  margin-bottom: 40px;
  padding: 12px 20px 19px;
  border: 1px solid #fff;
  background: linear-gradient(to top, #fafafa, #fff); }
  .seed-card .btn {
    position: absolute;
    right: 20px;
    bottom: 20px; }
  .seed-card h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px; }
    .seed-card h3 a {
      color: #7da071; }
  .seed-card p {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
    color: #3c4136; }
  .seed-card strong {
    font-weight: 500; }
  .seed-card em {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    font-weight: 300;
    color: #6e6f00; }
    .seed-card em strong {
      font-weight: 400; }
  .seed-card img {
    float: right;
    margin-bottom: 20px; }
  .seed-card dl {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px; }

.thumb {
  margin-bottom: 20px; }

.plants {
  padding-bottom: 60px;
  background: #e7ded4 url(../img/plants-bg.png) no-repeat left bottom; }

.plant-cards {
  margin-bottom: 20px; }
  .plant-cards:after {
    content: "";
    display: table;
    clear: both; }

.plant-card {
  position: relative;
  height: 240px;
  margin-bottom: 40px;
  border: 5px solid #fff; }
  .plant-card__caption {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 9px 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase; }
    .plant-card__caption span {
      position: relative; }
  .plant-card__caption-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #5a6817, #c8ccb1);
    opacity: 0.8; }

.slick-slide {
  margin: 0 10px; }
  .slick-slide img {
    margin: 0 auto; }

.slick-prev:before,
.slick-next:before {
  color: #65865a;
  font-size: 26px; }

.garden {
  padding-bottom: 40px;
  background: url(../img/leaf-left.png) no-repeat left top, url(../img/leaf-right.png) no-repeat right top, #eeece6; }
  .garden__text {
    padding-top: 30px;
    text-align: center; }
    .garden__text p {
      margin: 30px 0;
      font-size: 18px;
      line-height: 30px;
      font-weight: 300;
      color: #3c4136; }

.goods {
  padding-bottom: 38px;
  border-bottom: 2px solid #e2e2e0;
  background: #fff; }

.goods-item, .toys-item {
  position: relative;
  font-size: 0; }
  .goods-item__caption, .toys-item__caption {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
    .goods-item__caption span, .toys-item__caption span {
      margin: auto; }

.toys {
  background: #fff;
  padding-bottom: 80px; }

.toys-wrap {
  margin-bottom: 80px; }
  .toys-wrap:after {
    content: "";
    display: table;
    clear: both; }

.footer {
  background: #f0f0f0; }
  .footer h2 {
    text-align: left; }

.contacts {
  color: #3c4136;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px; }
  .contacts a {
    color: #7ea172; }
  .contacts a[href^="tel"] {
    display: block;
    text-decoration: none;
    color: #3c4136; }
  .contacts p {
    margin: 0; }

.copy {
  padding-top: 25px;
  font-weight: 300;
  color: #4a4a4a; }
  .copy a {
    color: inherit; }

.feedback__submit {
  float: right;
  border: none;
  outline: none;
  cursor: pointer; }

.form-row {
  margin-bottom: 20px; }
  .form-row:after {
    content: "";
    display: table;
    clear: both; }

.form-input {
  width: 100%;
  padding: 11px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #fff;
  resize: none; }
  .form-input.placeholder {
    opacity: 1;
    color: #3c4136;
    font-style: italic;
    font-weight: 300; }
  .form-input:-moz-placeholder {
    opacity: 1;
    color: #3c4136;
    font-style: italic;
    font-weight: 300; }
  .form-input::-webkit-input-placeholder {
    opacity: 1;
    color: #3c4136;
    font-style: italic;
    font-weight: 300; }

select.form-input {
  font-style: italic;
  color: #3c4136; }

.article {
  padding: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #3c4136;
  background: #fdfdfd; }
  .article h2 {
    padding: 0 0 22px 0;
    text-align: left;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #7da071; }
  .article p {
    margin: 24px 0; }
  .article ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: 0 0 24px 0; }
    .article ul li {
      padding-left: 7px; }
      .article ul li:before {
        display: inline-block;
        margin-right: 5px;
        content: "-"; }
  .article strong {
    font-weight: 500; }

.article-thumb {
  margin-bottom: 19px;
  padding: 18px;
  background: linear-gradient(to top, #fafafa, #fff);
  border: 1px solid #fff; }
  .article-thumb__text {
    padding-left: 0; }
  .article-thumb h2 {
    padding: 0 0 19px 0;
    font-size: 22px;
    text-align: left; }
  .article-thumb p {
    margin: 0 0 19px 0; }

.modal {
  transition: all ease 5s;
  display: none;
  width: 600px;
  padding: 20px; }
  .modal h2 {
    padding: 0 0 20px 0;
    text-align: left; }
  .modal input[type="submit"] {
    float: right; }
  .modal .add {
    display: inline-block;
    padding-top: 9px;
    text-decoration: none;
    font-weight: 500;
    color: #7295a1;
    border-bottom: 2px dotted #7295a1; }

.file-input {
  position: absolute;
  left: -99999px; }

.file-label {
  display: block;
  padding: 20px;
  border: 1px solid #acacac;
  border-radius: 3px;
  background: #f7f7f7;
  color: #7295a1;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer; }
  .file-label span {
    display: inline-block;
    border-bottom: 2px dotted #7295a1; }

/*# sourceMappingURL=main.css.map */
