{% load cms_tags  djangocms_forms_tags i18n sekizai_tags staticfiles widget_tweaks %}
<div class="forms" id="{{ instance.form_id }}">
	{% if instance.title %}
		<h3 class="title">{{ instance.title }}</h3>
	{% endif %}
	{% if instance.description %}
		<div class="description">
			{{ instance.description|safe }}
		</div>
	{% endif %}
	<div class="form-wrapper">
		<form action="{{ form.submission_url }}" method="POST" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
			<div class="form-errors" style="display:none;"></div>
				<div class="field-wrapper">
                    <div class="field-errors" style="display:none;"></div>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form.company|add_class:"form-input" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-errors" style="display:none;"></div>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form.phone|add_class:"form-input"  }}
                            </div>
                            <div class="col-xs-6">
                                {{ form.email|add_class:"form-input" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-errors" style="display:none;"></div>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-6">
                                {{ form.product|add_class:"form-input"  }}
                            </div>
                            <div class="col-xs-6">
                                {{ form.count|add_class:"form-input" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-errors" style="display:none;"></div>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="file-label" for="file">Прикрепить файл</label>
                                {{ form.file|add_class:"file-input" }}
                            </div>
                        </div>
                    </div>
				</div>
                <div class="field-wrapper">
                    <div class="field-errors" style="display:none;"></div>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form.message|add_class:"form-input"|attr:"rows:4" }}
                            </div>
                        </div>
                    </div>
				</div>
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			<div class="button-wrapper submit">
                <div class="form-row">
				    <button class="form-button btn btn_green feedback__submit" type="submit" value="{{ instance.submit_btn_txt }}">{{ instance.submit_btn_txt }}</button>
                </div>
			</div>
		</form>
	</div>
	<div class="form-success" style="display: none;">
		{% if instance.post_submit_msg %}
			<p>{{ instance.post_submit_msg|safe }}</p>
		{% else %}
            <h3>{% trans 'Submission successful' %}</h3>
            <p>{% trans 'Thank You! Your form has been successfully submitted!' %}</p>
		{% endif %}
	</div>
</div>

{% addtoblock "css" %}
    {% if instance.use_honeypot %}
        <style type="text/css">
            .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
        </style>
    {% endif %}
{% endaddtoblock %}
{% addtoblock "js" %}
    {% if instance.use_recaptcha %}
        <script src="https://www.google.com/recaptcha/api.js?onload=reCapctchaOnloadCallback&render=explicit" async defer></script>
    {% endif %}
	<script src="{% static 'js/djangocms_forms/libs/jquery.form.min.js' %}"></script>
	<script src="{% static 'js/djangocms_forms/jquery.djangocms-forms.js' %}"></script>

	<script type="text/javascript">
		$(function() {
		  $('.forms').cmsForms({
			  'reCaptchaSiteKey': '{{ recaptcha_site_key }}',
			  'redirectDelay': {{ redirect_delay|default:1000 }}
		  });
		});
	</script>
{% endaddtoblock %}
