{% extends "base.html" %}
{% load static cms_tags %}


{% block content %}
    <main class="main">
        <div style="display: none;">
            {% placeholder "picture" %}
            {% placeholder "description" %}
        </div>
        <div class="container">
            <h1>{% page_attribute "title" %}</h1>
            <article class="article">
                <a href="/articles">← Вернуться к списку статей</a>
                {% placeholder "content" %}
                <a href="/articles">← Вернуться к списку статей</a>
            </article>
        </div>
    </main>
{% endblock content %}