{% extends "base.html" %}
{% load static cms_tags %}

{% block content %}
    <main class="main">
        <div class="container">
            <h1>Статьи</h1>
            <div class="row">
                {% for page in current_page.get_children %}
                    {% page_url page as page_url %}
                    <div class="col-xs-8">
                        <div class="article-thumb">
                            <h2><a href="{{ page_url }}">{% page_attribute "title" page %}</a></h2>
                            <div class="row">
                                <div class="col-xs-4">
                                    {% show_placeholder "picture" page %}
                                </div>
                                <div class="col-xs-8 article-thumb__text">
                                    {% show_placeholder "description" page %}
                                    <a href="{{ page_url }}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </main>
{% endblock content %}