{% load static cms_tags menu_tags sekizai_tags i18n staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="eb4fcaeada596c995a964eb0097c0aec"/>
    <title>Волго-Вятский Лесопитомник</title>

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/grid.css" %}">
        <link rel="stylesheet" href="{% static "css/slick.css" %}">
        <link rel="stylesheet" href="{% static "css/slick-theme.css" %}">
        <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/slick.min.js" %}"></script>
        <script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    {% endaddtoblock %}

    {% render_block "css" %}
    {% render_block "js" %}
</head>
<body>
    {% cms_toolbar %}
    <nav class="nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
                        <li class="nav__item"><a class="nav__link" href="/#id-seeds">Сеянцы и семена</a></li>
                        <li class="nav__item">{% static_placeholder "price_list" %}</li>
                        <li class="nav__item"><a class="nav__link" href="/articles">Статьи</a></li>
                        <li class="nav__item"><a class="nav__link" href="#id-footer">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block header %}
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="address">
                            {% static_placeholder "address" %}
                            {% static_placeholder "mail" %}
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="logo"><a class="logo__link" href="/"></a></div>
                    </div>
                    <div class="col-xs-4">
                        <div class="phone">
                            {% static_placeholder "phone" %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <footer class="footer" id="id-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h2>Контакты</h2>
                    <div class="contacts">
                        {% static_placeholder "address" %}
                        {% static_placeholder "phone" %}
                    </div>
                    <div class="copy">Разработка сайта —<br><a href="http://webmeg.ru/">интернет-агентство «WebMeg»</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h2>Обратная связь</h2>
                    {% static_placeholder "feedback_form" %}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>