{% extends "base.html" %}
{% load static cms_tags %}

{% block header %}
{% endblock header %}
{% block content %}
    <section class="baner">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="address">
                        {% static_placeholder "address" %}
                        {% static_placeholder "mail" %}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="phone">
                        {% static_placeholder "phone" %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="logo"><a class="logo__link" href="/"></a></div>
                    <div class="title">
                        <h1>Семена и сеянцы хвойных деревьев</h1><a class="btn btn_green fancybox" href="#id-order-window">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="seeds" id="id-seeds">
        <div class="container">
            <h2>Сеянцы и семена</h2>
            <div class="row">
                <div class="col-xs-6">
                    <div class="seed-card">
                        {% placeholder "seeds_card_top_left" %}
                        <a class="btn btn_green fancybox" href="#id-order-window">Заказать</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="seed-card">
                        {% placeholder "seeds_card_top_right" %}
                        <a class="btn btn_green fancybox" href="#id-order-window">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="seed-card">
                        {% placeholder "seeds_card_bot_left" %}
                        <a class="btn btn_green fancybox" href="#id-order-window">Заказать</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="seed-card">
                        {% placeholder "seeds_card_bot_right" %}
                        <a class="btn btn_green fancybox" href="#id-order-window">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="plants">
        <div class="container">
            <h2>Декоративные растения</h2>
            <div class="row">
                <div class="plant-cards">
                    <div class="col-xs-6">
                        <div class="plant-card"><a href="#"><img src="{% static "img/plant1.png" %}">
                            <div class="plant-card__caption">
                                <div class="plant-card__caption-bg"></div>
                                <span>Хвойные деревья</span>
                            </div>
                        </a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="plant-card"><a href="#"><img src="{% static "img/plant2.png" %}">
                            <div class="plant-card__caption">
                                <div class="plant-card__caption-bg"></div>
                                <span>Лиственные деревья</span>
                            </div>
                        </a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="plant-card"><a href="#"><img src="{% static "img/plant3.png" %}">
                            <div class="plant-card__caption">
                                <div class="plant-card__caption-bg"></div>
                                <span>Декоративные кусты</span>
                            </div>
                        </a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="plant-card"><a href="#"><img src="{% static "img/plant4.png" %}">
                            <div class="plant-card__caption">
                                <div class="plant-card__caption-bg"></div>
                                <span>Крупонемеры</span>
                            </div>
                        </a></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="text-center"><a class="btn btn_blue" href="#">Подробнее</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="garden">
        <div class="container">
            <h2>Вертикальное озеленение</h2>
            <div class="row">
                <div class="col-xs-12">
                    <div class="slider">
                        {% placeholder "slider" %}
                    </div>
                </div>
                <div class="col-xs-push-1 col-xs-10">
                    <div class="garden__text">
                        {% placeholder "text" %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="text-center"><a class="btn btn_green fancybox" href="#id-order-window">Заказать</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="goods">
        <div class="container">
            <h2>Сопутствующие товары</h2>
            <div class="row">
                <div class="col-xs-4">
                    <div class="goods-item"><img src="{% static "img/goods1.png" %}">
                        <div class="goods-item__caption">
                            <span>Хвойный грунт</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="goods-item"><img src="{% static "img/goods2.png" %}">
                        <div class="goods-item__caption">
                            <span>Кора сосновая</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="goods-item"><img src="{% static "img/goods3.png" %}">
                        <div class="goods-item__caption">
                            <span>Мульча хвойная</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="toys">
        <div class="container">
            <h2>Игрушки</h2>
            <div class="row">
                <div class="toys-wrap">
                    <div class="col-xs-4">
                        <div class="toys-item"><img src="{% static "img/toy1.png" %}">
                            <div class="toys-item__caption">
                                <span>Новогодние игрушки</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="toys-item"><img src="{% static "img/toy2.png" %}">
                            <div class="toys-item__caption">
                                <span>Конструкторы</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="toys-item"><img src="{% static "img/toy3.png" %}">
                            <div class="toys-item__caption">
                                <span>Украшения</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="text-center"><a class="btn btn_green fancybox" href="#id-order-window">Заказать</a></div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" id="id-order-window">
        <h2>Оформить заказ</h2>
        {% placeholder "order_form" %}
    </div>
{% endblock content %}
