html {
    height: 100%;
}

body {
    height: 100%;
    background: #f0f0f0;
    font-family: 'PFSans', sans-serif;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #6ba05b;
}

.btn {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 180px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;

    &_green {
        background-color: #7ea172;
        
        &:hover {
            background-color: darken(#7ea172, 10%);
        }
    }
    
    &_blue {
        background-color: #729ca1;
        
        &:hover {
            background-color: darken(#729ca1, 10%);
        }
    }
}

.dl-horizontal {
    margin: 0;
    
    dt {
        float: left;
        clear: left;
    }


    dd {
        @include clearfix;
        margin: 0;
    }
}

.text-center {
    text-align: center;
}

.main {
    padding: 40px 0;
    border-bottom: 2px solid #e2e2e0;

    h1 {
        margin: 10px 0;
        font-size: 40px;
        color: #3c4136;
    }
}

h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    padding: 40px 0;
    text-align: center;
    color: #3c4136;
}

.nav {
    padding: 15px 0;
    height: 60px;
    background: rgba(255,255,255,0.6);

    &__list {
        @include list-reset;
        text-align: justify;

        &:after {
            display: inline-block;
            width: 100%;
            content: '';
        }
    }
    
    &__item {
        display: inline-block;

        img,
        .filesize {
            display: none;
        }
    }

    &__link {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        color: #3c4136;

        &:hover,
        *.is-active {
            color: #7c9f70;
        }
    }
}

.baner {
    height: 900px;
    padding-bottom: 80px;
    background: url(../img/tree.png) no-repeat left top, linear-gradient(to top left, #9ed9bb, #ecf3c9);
}

.address {
    padding-top: 75px;
    color: #3c4136;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    a {
        color: #7ea172;
    }

    p {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
     .address {
         padding-left: 50px;
     }
}

.phone {
    padding-top: 75px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    a {
        display: block;
        text-decoration: none;
        color: #3c4136;
    }
}

.logo {
    padding-top: 120px;
    text-align: center;

    &__link {
        display: inline-block;
        width: 220px;
        height: 210px;
        background: url(../img/logo.png) no-repeat center center;
        background-size: contain;
    }
}

.header {

    .logo {
        padding-top: 35px;

        &__link {
            width: 170px;
            height: 160px;
        }
    }
}

.title {
    padding-top: 160px;
    text-align: center;

    h1 {
        margin: 0;
        margin-bottom: 30px;
        font: italic 30px/1.2 "Cambria", serif;
        color: #628556;
    }
}

.seeds {
    background: #f0f0f0 url(../img/tree2.png) no-repeat right top;
}

.seed-card {
    height: 400px;
    position: relative;
    margin-bottom: 40px;
    padding:  12px 20px 19px;
    border: 1px solid #fff;
    background: linear-gradient(to top, #fafafa, #fff);

    .btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 30px;

        a {
            color: #7da071;
        }
    }

    p {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 18px;
        line-height: 30px;
        color: #3c4136;
    }

    strong {
        font-weight: 500;
    }

    em {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        font-style: italic;
        font-weight: 300;
        color: #6e6f00;

        strong {
            font-weight: 400;
        }
    }

    img {
        float: right;
        margin-bottom: 20px;
    }

    dl {
        @extend .dl-horizontal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
}

.thumb {
    margin-bottom: 20px;
}

.plants {
    padding-bottom: 60px;
    background: #e7ded4 url(../img/plants-bg.png) no-repeat left bottom;
}

.plant-cards {
    @include clearfix;
    margin-bottom: 20px;
}

.plant-card {
    position: relative;
    height: 240px;
    margin-bottom: 40px;
    border: 5px solid #fff;

    &__caption {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 9px 0;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;

        span {
            position: relative;
        }
    }

    &__caption-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, #5a6817, #c8ccb1);
        opacity: 0.8;
    }
}

.slick-slide {
    margin: 0 10px;

    img {
        margin: 0 auto;
    }
}

.slick-prev,
.slick-next {
    &:before {
        color: #65865a;
        font-size: 26px;
    }
}

.garden {
    padding-bottom: 40px;
    background: url(../img/leaf-left.png) no-repeat left top,
                url(../img/leaf-right.png) no-repeat right top,
                #eeece6;

    &__text {
        padding-top: 30px;
        text-align: center;

        p {
            margin: 30px 0;
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            color: #3c4136;
        }
    }
}

.goods {
    padding-bottom: 38px;
    border-bottom: 2px solid #e2e2e0;
    background: #fff;
}

.goods-item {
    position: relative;
    font-size: 0;

    &__caption {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        span {
            margin: auto;
        }
    }
}

.toys {
    background: #fff;
    padding-bottom: 80px;
}

.toys-wrap {
    @include clearfix;
    margin-bottom: 80px;
}

.toys-item {
    @extend .goods-item;

    &__caption {
        @extend .goods-item__caption;
    }
}

.footer {
    background: #f0f0f0;

    h2 {
        text-align: left;
    }
}

.contacts {
    color: #3c4136;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

    a {
        color: #7ea172;
    }

    a[href^="tel"] {
        display: block;
        text-decoration: none;
        color: #3c4136;
    }

    p {
        margin: 0;
    }
}

.copy {
    padding-top: 25px;
    font-weight: 300;
    color: #4a4a4a;

    a {
        color: inherit;
    }
}

.feedback {

    &__submit {
        float: right;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.form-row {
    @include clearfix;
    margin-bottom: 20px;
}

.form-input {
    @include placeholder {
        opacity: 1;
        color: #3c4136;
        font-style: italic;
        font-weight: 300;
    }
    width: 100%;
    padding: 11px 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #fff;
    resize: none;
}

select.form-input {
    font-style: italic;
    color: #3c4136;
}

.article {
    padding: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #3c4136;
    background: #fdfdfd;

    h2 {
        padding: 0 0 22px 0;
        text-align: left;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 500;
        color: #7da071;
    }

    p {
        margin: 24px 0;
    }

    ul {
        @include list-reset;
        margin: 0 0 24px 0;

        li {
            padding-left: 7px;

            &:before {
                display: inline-block;
                margin-right: 5px;
                content: "-";
            }
        }
    }

    strong {
        font-weight: 500;
    }
}

.article-thumb {
    margin-bottom: 19px;
    padding: 18px;
    background: linear-gradient(to top, #fafafa, #fff);
    border: 1px solid #fff;

    &__text {
        padding-left: 0;
    }

    h2 {
        padding: 0 0 19px 0;
        font-size: 22px;
        text-align: left;
    }

    p {
        margin: 0 0 19px 0;
    }
}

.modal {
    transition: all ease 5s;
    display: none;
    width: 600px;
    padding: 20px;

    h2 {
        padding: 0 0 20px 0;
        text-align: left;
    }

    input[type="submit"] {
        float: right;
    }

    .add {
        display: inline-block;
        padding-top: 9px;
        text-decoration: none;
        font-weight: 500;
        color: #7295a1;
        border-bottom: 2px dotted #7295a1;
    }
}

.file-input {
    position: absolute;
    left: -99999px;
}

.file-label {
    display: block;
    padding: 20px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: #f7f7f7;
    color: #7295a1;
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;

    span {
        display: inline-block;
        border-bottom: 2px dotted #7295a1;
    }
}